---
# Set up **PANDAS**

In [2]:
import numpy as np
import pandas as pd

# 1. **Razumevanje Podataka**

---
## 1.1  **[read_csv()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html#pandas.read_csv)**

In [3]:
df = pd.read_csv('marketing_kampanja.csv' , sep=',' )

---
## 1.2 [df.head()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html?highlight=head#pandas.DataFrame.head)

In [4]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
0,5524.0,1957.0,Graduation,Single,58138.0,0.0,0.0,04-09-2012,58.0,635.0,...,10.0,4.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2174.0,1954.0,Graduation,Single,46344.0,1.0,1.0,08-03-2014,38.0,11.0,...,1.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4141.0,1965.0,Graduation,Together,71613.0,0.0,0.0,21-08-2013,26.0,426.0,...,2.0,10.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6182.0,1984.0,Graduation,Together,26646.0,1.0,0.0,10-02-2014,26.0,11.0,...,0.0,4.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5324.0,1981.0,PhD,Married,58293.0,1.0,0.0,19-01-2014,94.0,173.0,...,3.0,6.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df.head(10)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
0,5524.0,1957.0,Graduation,Single,58138.0,0.0,0.0,04-09-2012,58.0,635.0,...,10.0,4.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2174.0,1954.0,Graduation,Single,46344.0,1.0,1.0,08-03-2014,38.0,11.0,...,1.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4141.0,1965.0,Graduation,Together,71613.0,0.0,0.0,21-08-2013,26.0,426.0,...,2.0,10.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6182.0,1984.0,Graduation,Together,26646.0,1.0,0.0,10-02-2014,26.0,11.0,...,0.0,4.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5324.0,1981.0,PhD,Married,58293.0,1.0,0.0,19-01-2014,94.0,173.0,...,3.0,6.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,7446.0,1967.0,Master,Together,62513.0,0.0,1.0,09-09-2013,16.0,520.0,...,4.0,10.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,965.0,1971.0,Graduation,Divorced,55635.0,0.0,1.0,13-11-2012,34.0,235.0,...,3.0,7.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,6177.0,1985.0,PhD,Married,33454.0,1.0,0.0,08-05-2013,32.0,76.0,...,0.0,4.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,4855.0,1974.0,PhD,Together,30351.0,1.0,0.0,06-06-2013,19.0,14.0,...,0.0,2.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,5899.0,1950.0,PhD,Together,5648.0,1.0,1.0,13-03-2014,68.0,28.0,...,0.0,0.0,20.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

---
## 1.3 [**df.tail()**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html?highlight=tail#pandas.DataFrame.tail)

In [6]:
df.tail(10)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
2231,9817.0,1970.0,Master,Single,44802.0,0.0,0.0,21-08-2012,71.0,853.0,...,4.0,12.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2232,8080.0,1986.0,Graduation,Single,26816.0,0.0,0.0,17-08-2012,50.0,5.0,...,0.0,3.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2233,9432.0,1977.0,Graduation,Together,666666.0,1.0,0.0,02-06-2013,23.0,9.0,...,1.0,3.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2234,8372.0,1974.0,Graduation,Married,34421.0,1.0,0.0,01-07-2013,81.0,3.0,...,0.0,2.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2235,10870.0,1967.0,Graduation,Married,61223.0,0.0,1.0,13-06-2013,46.0,709.0,...,3.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2236,4001.0,1946.0,PhD,Together,64014.0,2.0,1.0,10-06-2014,56.0,406.0,...,2.0,5.0,7.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2237,7270.0,1981.0,Graduation,Divorced,56981.0,0.0,0.0,25-01-2014,91.0,908.0,...,3.0,13.0,6.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2238,8235.0,1956.0,Master,Together,69245.0,0.0,1.0,24-01-2014,8.0,428.0,...,5.0,10.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2239,9405.0,1954.0,PhD,Married,52869.0,1.0,1.0,15-10-2012,40.0,84.0,...,1.0,4.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2240,4749.0,1968.0,Graduation,Together,58554.0,1.0,1.0,26-09-2012,55.0,368.0,...,2.0,6.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

---

## 1.4 [**df.info()**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html?highlight=info)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2241 entries, 0 to 2240
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2241 non-null   float64
 1   Year_Birth           2241 non-null   float64
 2   Education            2241 non-null   object
 3   Marital_Status       2241 non-null   object
 4   Income               2217 non-null   float64
 5   Kidhome              2241 non-null   float64
 6   Teenhome             2241 non-null   float64
 7   Dt_Customer          2241 non-null   object
 8   Recency              2241 non-null   float64
 9   MntWines             2241 non-null   float64
 10  MntFruits            2241 non-null   float64
 11  MntMeatProducts      2241 non-null   float64
 12  MntFishProducts      2241 non-null   float64
 13  MntSweetProducts     2241 non-null   float64
 14  MntGoldProds         2241 non-null   float64
 15  NumDealsPurchases    2241 non-null   float64
 16  NumWebPurchases      2241 non-null   float64
 17  NumCatalogPurchases  2241 non-null   float64
 18  NumStorePurchases    2241 non-null   float64
 19  NumWebVisitsMonth    2241 non-null   float64
 20  AcceptedCmp3         2241 non-null   float64
 21  AcceptedCmp4         2241 non-null   float64
 22  AcceptedCmp5         2241 non-null   float64
 23  AcceptedCmp1         2241 non-null   float64
 24  AcceptedCmp2         2241 non-null   float64
 25  Complain             2241 non-null   float64
 26  Response             2241 non-null   float64
dtypes: float64(24), object(3)
memory usage: 472.8+ KB

---
## 1.5 [df.describe()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html#pandas.DataFrame.describe)

In [8]:
df.describe()

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
count,2241.000000,2241.000000,2217.000000,2241.000000,2241.000000,2241.000000,2241.000000,2241.000000,2241.000000,2241.000000,...,2241.000000,2241.000000,2241.000000,2241.000000,2241.000000,2241.000000,2241.000000,2241.000000,2241.000000,2241.000000
mean,5591.783579,1968.805444,52250.096076,0.444444,0.506470,49.112004,303.964302,26.301205,166.905846,37.525658,...,2.661758,5.790272,5.317269,0.072735,0.074520,0.072735,0.064257,0.013387,0.009371,0.149041
std,3245.986281,11.981406,25167.752604,0.538406,0.544517,28.956255,336.524972,39.764585,225.674664,54.616785,...,2.922482,3.250235,2.426364,0.259760,0.262674,0.259760,0.245265,0.114950,0.096370,0.356208
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2829.000000,1959.000000,35322.000000,0.000000,0.000000,24.000000,24.000000,1.000000,16.000000,3.000000,...,0.000000,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5455.000000,1970.000000,51390.000000,0.000000,0.000000,49.000000,174.000000,8.000000,67.000000,12.000000,...,2.000000,5.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8427.000000,1977.000000,68487.000000,1.000000,1.000000,74.000000,504.000000,33.000000,232.000000,50.000000,...,4.000000,8.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,...,28.000000,13.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
df.describe(include='all')

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
count,2241.000000,2241.000000,2241,2241,2217.000000,2241.000000,2241.000000,2241,2241.000000,2241.000000,...,2241.000000,2241.000000,2241.000000,2241.000000,2241.000000,2241.000000,2241.000000,2241.000000,2241.000000,2241.000000
unique,NaN,NaN,5,8,NaN,NaN,NaN,663,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Graduation,Married,NaN,NaN,NaN,31-08-2012,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,1128,864,NaN,NaN,NaN,12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,5591.783579,1968.805444,NaN,NaN,52250.096076,0.444444,0.506470,NaN,49.112004,303.964302,...,2.661758,5.790272,5.317269,0.072735,0.074520,0.072735,0.064257,0.013387,0.009371,0.149041
std,3245.986281,11.981406,NaN,NaN,25167.752604,0.538406,0.544517,NaN,28.956255,336.524972,...,2.922482,3.250235,2.426364,0.259760,0.262674,0.259760,0.245265,0.114950,0.096370,0.356208
min,0.000000,1893.000000,NaN,NaN,1730.000000,0.000000,0.000000,NaN,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2829.000000,1959.000000,NaN,NaN,35322.000000,0.000000,0.000000,NaN,24.000000,24.000000,...,0.000000,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5455.000000,1970.000000,NaN,NaN,51390.000000,0.000000,0.000000,NaN,49.000000,174.000000,...,2.000000,5.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8427.000000,1977.000000,NaN,NaN,68487.000000,1.000000,1.000000,NaN,74.000000,504.000000,...,4.000000,8.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,11191.000000,1996.000000,NaN,NaN,666666.000000,2.000000,2.000000,NaN,99.000000,1493.000000,...,28.000000,13.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

---
## 1.6  [df.isnull()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isnull.html?highlight=isnull#pandas.DataFrame.isnull)

In [10]:
df.isnull().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Response                0
dtype: int64

---

## 1.7 [**df.duplicated()**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.duplicated.html?highlight=duplicated#pandas.DataFrame.duplicated)

In [11]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2236    False
2237    False
2238    False
2239    False
2240     True
Length: 2241, dtype: bool

In [12]:
df[df.duplicated(keep=False)]

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
2225,4749.0,1968.0,Graduation,Together,58554.0,1.0,1.0,26-09-2012,55.0,368.0,...,2.0,6.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2240,4749.0,1968.0,Graduation,Together,58554.0,1.0,1.0,26-09-2012,55.0,368.0,...,2.0,6.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 2. **Čišćenje Podataka**

## 2.1 [**df.dropna()**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html?highlight=dropna#pandas.DataFrame.dropna)

In [13]:
df_bez_null_vrednosti = df.dropna()

#### Provera da li u Data Frame-u 'df_bez_null_vrednosti' ima Nula vrednosti

In [14]:
df_bez_null_vrednosti.isnull().sum() # Proveri sada da li ima NULA vrednosti u kolonama

ID                     0
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Dt_Customer            0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
AcceptedCmp3           0
AcceptedCmp4           0
AcceptedCmp5           0
AcceptedCmp1           0
AcceptedCmp2           0
Complain               0
Response               0
dtype: int64

---
## 2.2 [**df.fillna()**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html?highlight=fillna#pandas.DataFrame.fillna)

In [21]:
df_mean = df.Income.mean()

In [22]:
df['Income'].fillna(df_mean, inplace=True)

In [23]:
df['Income'].head()

0    58138.0
1    46344.0
2    71613.0
3    26646.0
4    58293.0
Name: Income, dtype: float64

---
## 2.3 [**drop_duplicates()**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop_duplicates.html?highlight=drop_duplicates#pandas.DataFrame.drop_duplicates)

In [24]:
df.drop_duplicates(inplace=True)

In [25]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [ID, Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Response]
Index: []

[0 rows x 27 columns]

---
## 2.4 [**to_datetime()**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html?highlight=to_datetime)

In [50]:
df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'], format="%m/%d/%Y")

In [51]:
df.Dt_Customer

0      2012-04-09
1      2014-08-03
2      2013-08-21
3      2014-10-02
4      2014-01-19
          ...
2235   2013-06-13
2236   2014-10-06
2237   2014-01-25
2238   2014-01-24
2239   2012-10-15
Name: Dt_Customer, Length: 2240, dtype: datetime64[ns]

# 3.0 Analiza i Manipulacija sa Podacima
---

## 3.1 [**value_counts()**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.value_counts.html?highlight=value_counts#pandas.DataFrame.value_counts)

In [54]:
df.Education.value_counts()

Graduation    1127
PhD            486
Master         370
2n Cycle       203
Basic           54
Name: Education, dtype: int64

---

## 3.2 [**unique()**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html?highlight=unique#pandas.Series.unique)

In [55]:
df.Education.unique()

array(['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle'], dtype=object)